$primary:#F29F05;
$primary-box-shadow:rgba(242, 159 ,5, .5);

$input-btn-focus-box-shadow:$primary-box-shadow;

input.form-control:focus {
    box-shadow: 0 0 0 0.25rem $primary-box-shadow !important;
}

input.form-check-input:checked {
    background-color: $primary !important;
    border-color:$primary !important;
}
.form-control:focus{
    border-color: $primary !important;
}
